a(href='/') Home

ul
each user in users
 h1 Editing #{user.title}'s Product
 form(method="POST" action="/view/"+user._id+ "?_method=PUT") 
  label(for='title') Product Title:
  input(type="text", name="title", value=user.title)
  label(for='review') Total Review :
  input(type="number", name="review", value=user.review)
  label(for='price') Price :
  input(type="number", name="price", value=user.price)
  label(for='stock') Stock :
  input(type="number", name="stock", value=user.stock)
  label(for='description') Description :
  input(type="text", name="description", value=user.description)
  input(type="submit")


	
